list-style-type
margin
padding
overflow
background-color:black 


Float 


lil a
display
color 
text-align
padding
text-decoration


background-color: #111:
<h1>favorite moments</h1>
<h2>liverpool vs barcelona the most dramtic match in champions league.</p>
<h3>4-3 aggregrat</h3
<p>Corner taken by origi.</p>
<h3>liverpool</h3>
<h3>anfield<h/h3>
<h2><h2>

.container{ 
    display grid
    grid-template-colums: auto auto auto;
  }